.flyer,
.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.flyer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

.show {
  opacity: 1;
  visibility: visible;
}

.sayingInEnglish,
.sayingInArabic {
 width: 100%;
 font-size: 8vh;
 text-align: center;
 padding: 0 5vw;
 white-space: pre-line;
}

.reference {
 font-size: 3vh;
 text-align: center;
}

.sayingInEnglish,
.sayingInArabic,
.reference {
 padding-top: 5vh;
}